
@{
    ViewBag.Title = "早安早鳥";
}

<div class="bueno-post-area mt-70 mb-70">

    <div class="bg-$gray-500 d-flex flex-row mb-3 ">

        <div class="col-2 align-self-center">
            <font size="3" align="center" face="Microsoft JhengHei">
                <b>--佳佳--</b>
            </font>
        </div>
        <div class="col-5">
            <font size="3" face="Microsoft JhengHei">

                <br>
                <b>
                    營業時間 = 06:00–13:30 (星期日休息)<br>
                    電話 : 02-2628-3222<br>
                    地址 : 新北市淡水區北新路182巷3弄12號<br>
                    綜合評價 :食物**** 環境*** 服務****<br>
                </b>


            </font>
        </div>
        <div class="col-5">
            <font size="2" face="Microsoft JhengHei">
                <br>
                <b>
                    介紹: cp值很高，份量大，價錢便宜，
                    三明治都一定有洋蔥跟翻茄，很符合學生的需求。
                    老闆娘都很親切，動作也快，
                    蛋餅好吃但口味偏鹹容易有油膩感，
                    奶茶很好喝。但有油煙排放的問題，
                    每次經過都會聞到一股油耗味，
                    有曾經在外面的水溝看到老鼠。
                </b>

            </font>

        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><img src="~/img/1.jpg" width="525" height="725" alt="佳佳"></div>
        <div class="p-2 bd-highlight"><img src="~/img/2.jpg" width="525" height="725" alt="佳佳"></div>
    </div>

</div>



