
@{
    ViewBag.Title = "About us";
}

<h1 class="p-3 mb-2 font-weight-bold" style="color:#FAFAFA">關於我們</h1>

    <div class="panel ">
        <div class="panel-heading">
            <h1 class="display-4 font-weight-bold text-center" style="color:coral;">---------------------緣起--------------------</h1>
        </div>
        <a class="btn btn-light" href="https://heho.com.tw/archives/136676">吃早餐的重要性 &raquo;</a>
        <div class="panel-body" >
            <p class="text-left" style="font-size:18px;color:black">
                   早餐對人體健康極為重要，營養豐富的早餐，可以讓人精力充沛，將學習與工作的效率提高。
                起床較晚的人往往不吃早餐，或者因愛美怕發胖而不吃早餐，還有人是為了把吃早餐的錢省下來。
                營養學研究證明，早餐是一天中最重要的一餐。一日之計在於晨，早餐是一天中的活力來源。</p>
                <p class="text-left" style="font-size:18px;color:black">   而在淡江生活了三年的我們，整理了學校附近的早餐店，並介紹各家不同的特色，讓大家在做選擇時可以參考。此外，我們提供了電話簿功能，
                就可以在早上要打電話訂時，省去查找的時間。  還可以在留言板上留下各自的意見，
                讓店家聽見顧客們的聲音，藉此做改善。我們都知道早餐是一天三餐中最重要的一頓。原因非常簡單：每天夜晚，身體都要消耗能量，這時人體不得不動用它的儲備能量。
                而且，人在一天的開始最需要攝入足夠熱量，健康的成年人一天需要1500卡路里的熱量，
                工作量大者需要2000卡路里來滿足一天的體力消耗。因此，早上起床之後，自然要靠含有豐富碳水化合物的早餐來重新補充。
            </p class="text-left">
        </div>
        
    </div>
    <script src="/Scripts/jquery-1.9.0.js"></script>
    <script src="/Scripts/bootstrap.js"></script>



